@import url('gold.css');

:root {
	--m: 2rem;
	--black: #1c1c1c;
	--orange: #F3A235;
	--yellow: #F2CA29
}

body {
    background: var(--black);
    font-family: 'slkscr', system-ui;
}

main {
	color: var(--yellow);
    text-align: center;
}

#welcome {
	color: var(--orange);
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    font-weight: bold;
}

#donations {
    grid-auto-flow: column;
    gap: 2rem;
    button {
        font-weight: bold;
        padding-inline: 8%;
        cursor: pointer;
        transition: scale .1s linear;
        background: darkslategrey;
        &:hover {
            opacity: 0.9;
        }
    }
}

#supporters {
    ul {
        background: linear-gradient(90deg,
            var(--yellow),
            var(--orange)
        );
        background-size: 200% 100%;
        background-clip: text;
        color: transparent;
        font-weight: bold;
        text-emphasis: "❤️";
        text-emphasis-position: under;
        animation: rotate-gradient 6s linear infinite;
    }
}

@keyframes rotate-gradient {
    0% {
        background: linear-gradient(90deg, var(--yellow), var(--orange));
    }
    100% {
        background: linear-gradient(450deg, var(--yellow), var(--orange));
    }
}